{% extends "base.html" %}
{% load static %}
{% load l10n %}
{% load crypto_extras %}

{% block body %}
<div id="crypto"
     hx-get="{% url 'crypto:dashboard' %}"
     hx-trigger="every 150s"
     hx-target="#crypto"
     hx-select="#crypto"
     hx-swap="outerHTML">
  <div class="row mt-2">
    <div class="col-12">
      <small class="float-right mr-1 nowrap">Updated: {% now "SHORT_DATETIME_FORMAT" %}</small>
    </div>
  </div>

  {% for crypto in crypto_charts %}
  <div class="row mt-2 mb-4">
    <div class="col-md-12">
      <div class="box">
        <div id="{{ crypto.symbol }}"></div>
      </div>
    </div>
  </div>
  {% endfor %}

  <div class="row mt-4 mb-4">

  {% for crypto in cryptos %}
    <div class="col-6 col-sm-4 col-md-4 col-lg-3 pb-4">
      <div class="box">
        <div class="crypto d-flex align-items-center ml-sm-2 ml-md-0 {% if forloop.first %}ml-sm-2 ml-md-0{% endif %}">
          <img src="{{ crypto.image.url }}" class="rounded-circle" alt="{{ crypto.display_name }}">
          <div class="d-flex flex-column">
            <span class="price ml-2">
              {% if crypto.show_overall %}
                {{ crypto.market_value|currency_symbol }}
              {% else %}
                {{ crypto.crypto_value|currency_symbol }}<sup>V</sup>
              {% endif %}
            </span>
            <div class="subinfo d-flex">
              <span class="earns {% if crypto.percent_change < 0 %}text-danger{% else %}text-success{% endif %} ml-2">
                {% if crypto.show_overall %}{{ crypto.percent_change|percent }}{% endif %}
              </span>
              <span class="overall {% if crypto.crypto_percent < 0 %}text-danger{% else %}text-success{% endif %} ml-1">
                {{ crypto.crypto_percent|percent }}<sup>24h</sup>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

  </div>
</div>
{% endblock body %}



{% block script %}
<script>
function initCharts() {
  {% for crypto in crypto_charts %}
  var options = {
    series: [{
      data: [
        {% for chart in crypto.chart %}
          {
            x: new Date({{ chart.timestampg.timestamp|floatformat }}000),
            y: [
              {{ chart.open|cryptoformat }},
              {{ chart.high|cryptoformat }},
              {{ chart.low|cryptoformat}},
              {{ chart.close|cryptoformat }}
            ]
          },
        {% endfor %}
      ]
    }],
    chart: {
      type: 'candlestick',
      height: 300,
      toolbar: {
        show: false
      },
      animations: {
        enabled: false
      },
    },
    title: {
      text: '{{ crypto.display_name|upper }}',
      align: 'left'
    },
    xaxis: {
      type: 'datetime',
      labels: {
        datetimeUTC: false
      }
    },
    yaxis: {
      tooltip: {
        enabled: true
      }
    },
  };


  var chartBar = new ApexCharts(document.querySelector('#{{ crypto.symbol }}'), options);
  chartBar.render();
  {% endfor %}
}

document.addEventListener("DOMContentLoaded", function(evt) {
  initCharts();
});

document.body.addEventListener('htmx:afterSwap', function(evt) {
    initCharts();
});
</script>
{% endblock script %}
